@{
	ViewData["Title"] = "Справочник по деталям и операциям";
    <link href="~/css/SprOperationStyle.css" rel="stylesheet" />
}
@model NardSmena.Models.CombinedViewModelSprOperation

<div class="container-fluid mt-3 mb-4">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <div class="container">
                <div class="input-group mb-2 w-25">
                    <input id="kodDetalDelete" type="text" class="focus-ring form-control" placeholder="Строка" aria-describedby="confirmDeleteButton">
                    <button class="btn btn-outline-danger" type="button" id="confirmDeleteButton" data-bs-toggle="modal" data-bs-target="#confirmModalDelete">Удалить</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered caption-top" id="table2">
                        <thead class="text-center">
                            <tr>
                                <th>Выбор</th>
                                <th>Код детали</th>
                                <th>Наименование</th>
                                <th>Шифр</th>
                                <th>Общее время</th>
                                <th>Расценка</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="tbody2">
                            @foreach (var sprOper in Model.SprOperList)
                            {
                                var sprDet = Model.SprDetList.FirstOrDefault(d => d.KodDetal == sprOper.KodDetal);
                                <tr>
                                    <td>
                                        <div class="form-check d-flex align-items-center justify-content-center">
                                            <input type="radio" name="selection" class="form-check-input" style="width:25px; height: 25px" />
                                        </div>
                                    </td>
                                    <td class="d-flex align-items-center justify-content-center">
                                        <input type="text" class="focus-ring form-control w-auto" value="@sprOper.KodDetal" />
                                        <input type="hidden" value="@sprOper.NomStr" />
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control" value="@sprDet?.NameDetal" />
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control" value="@sprDet?.ShifrDetal" />
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control" value="@sprOper.TimeComput" />
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control" value="@sprOper.Rascenka" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tr id="newRow" style="display: none">
                            <td>
                                <div class="form-check d-flex align-items-center justify-content-center">
                                    <input type="radio" name="selection" class="form-check-input" style="width: 25px; height: 25px" />
                                </div>
                            </td>
                            <td class="d-flex align-items-center justify-content-center">
                                <input type="text" class="focus-ring form-control w-auto" id="newKodDetal" value="" />
                            </td>
                            <td>
                                <input type="text" class="focus-ring form-control" id="newNameDetal" value="" />
                            </td>
                            <td>
                                <input type="text" class="focus-ring form-control" id="newShifrDetal" value="" />
                            </td>
                            <td>
                                <input type="text" class="focus-ring form-control" id="newTimeComput" value="" />
                            </td>
                            <td>
                                <input type="text" class="focus-ring form-control" id="newRascenka" value="" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container mb-5 mt-3" id="table3">
                <div class="input-group mb-2 mt-2 w-75">
                    <button class="btn btn-outline-danger" type="button" id="confirmDeleteButton2" data-bs-toggle="modal" data-bs-target="#confirmModalDelete2">Удалить строку</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead class="text-center">
                            <tr>
                                <th style="width: 5vw">Обх.</th>
                                <th style="width: 5vw">Код операции</th>
                                <th>Название</th>
                                <th style="width: 5vw">Разряд</th>
                                <th style="width: 5vw">Гр.тарифа</th>
                                <th style="width: 5vw">Расч.вр.</th>
                                <th style="width: 5vw">% вредн.</th>
                                <th style="width: 5vw">Доп. %</th>
                                <th style="width: 5vw">Вр.изгот-ия</th>
                                <th style="width: 5vw">Расценка</th>
                                <th>Коэф ДВ</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var sprOper in Model.SprOperList)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                             <input type="text" class="focus-ring form-control w-50 text-center" value="@sprOper.FlagObhoda" />
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control text-center" value="@sprOper.KodOperation" />
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control" value="@sprOper.NameOperation" />
                                     </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control w-50 text-center" value="@sprOper.Razriad" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control w-50 text-center" value="@sprOper.GrTarif" />
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control text-center" value="@sprOper.TimeComput" />
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control w-75" value="@sprOper.Vrednost" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control w-50 text-center" value="@sprOper.DpPrem" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control text-center" value="@sprOper.TimeOperation" />
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="focus-ring form-control text-center" value="@sprOper.Rascenka" />
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="text" class="focus-ring form-control text-center" value="@sprOper.KoefDV" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="d-flex flex-column align-items-center mt-3 mx-lg-3">
                <h5 class="text-center">Сортировка</h5>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick="sortTable(1, false)" />
                <label class="btn btn-outline-danger mb-2 labelSort" for="btnradio1">Код детали</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="sortTable(2, false)" />
                <label class="btn btn-outline-danger mb-2 labelSort" for="btnradio2">Наименование</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="sortTable(3, false)" />
                <label class="btn btn-outline-danger mb-2 labelSort" for="btnradio3">Шифр</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" onclick="sortTable(4, true)" />
                <label class="btn btn-outline-danger mb-2 labelSort" for="btnradio4">Время</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" onclick="sortTable(5, true)" />
                <label class="btn btn-outline-danger mb-2 labelSort" for="btnradio5">Расценка</label>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control focus-ring" id="filtr" />
                    <label for="filtr">Фильтр</label>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="flexCheckPremia" />
                    <label class="form-check-label" for="flexCheckPremia">Доп.премия</label>
                </div>
                <div class="dropdown d-flex flex-column align-items-center justify-content-center mb-2 mx-5">
                    <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-printer"></i> Печать
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="PrintLaborStandardsSprOperation" asp-controller="Reports" asp-route-printTitle="Нормы труда">Печать</a></li>
                        <li><a class="dropdown-item" asp-action="PrintTimeStandards" asp-controller="Reports" asp-route-printTitle="Нормы времени и расценки">Полная быстрая печать</a></li>
                        <li><a class="dropdown-item" asp-action="PrintSprOperation" asp-controller="Reports" asp-route-printTitle="Справочник по деталям">Сокращенная быстрая печать</a></li>
                        <li><a class="dropdown-item" asp-action="PrintLaborStandardsSprOperationNorma" asp-controller="Reports" asp-route-printTitle="Нормы труда">Норма за 8ч. и 7ч.</a></li>
                    </ul>
                    <div class="dropdown mb-2">
                        <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-check2-all"></i> Выделение
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="selectAll">Отметить все</a></li>
                            <li><a class="dropdown-item" id="deselectAll">Разотметить все</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-outline mb-2" type="button" id="btnAnalyze"><i class="bi bi-clipboard-data"></i> Сравнительный анализ</button>
                    <button class="btn btn-outline mb-2" type="button"><i class="bi bi-calculator"></i> Перерасчет</button>
                    <button id="tarifButton" class="btn btn-outline mb-2" type="button" data-bs-toggle="modal" data-bs-target="#tarifModal"><i class="bi bi-table"></i> Тарифная сетка</button>
                    

                    <div class="modal fade" id="tarifModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Тарифная сетка разрядов</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Разряд</th>
                                                    <th scope="col">Тариф 1</th>
                                                    <th scope="col">Тариф 2</th>
                                                    <th scope="col">Тариф 3</th>
                                                    <th scope="col">MTarif</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var tarif in Model.TarifList)
                                                {
                                                    <tr>
                                                        <td scope="col"><b>@tarif.Razriad</b></td>
                                                        <td>@tarif.Tarif1</td>
                                                        <td>@tarif.Tarif</td>
                                                        <td>@tarif.Tarif3</td>
                                                        <td>@tarif.MTarif</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-outline mb-2" type="button" data-bs-toggle="modal" data-bs-target="#fondModal"><i class="bi bi-clock"></i> Месячный фонд раб.времени</button>
                    <div class="modal fade" id="fondModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Фонд рабочего времени</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Месяц</th>
                                                    <th scope="col">Часы</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var msFndVr in Model.MsFndVrList)
                                                {
                                                    <tr>
                                                        <td scope="row">@msFndVr.NaimMes</td>
                                                        <td scope="row">@msFndVr.MFVrem</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline" type="button" data-bs-toggle="modal" data-bs-target="#otpuskModal"><i class="bi bi-brightness-high"></i> Дни к отпуску по вредности</button>
                    <div class="modal fade" id="otpuskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Дни к отпуску за вредность</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Процент доплат</th>
                                                    <th scope="col">Дни к отпуску</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               @foreach (var otpVred in Model.OtpVredList)
                                                {
                                                    <tr>
                                                        <td>@otpVred.ProcDopl</td>
                                                        <td>@otpVred.GodOtpVr</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="confirmModalLabel" id="confirmModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" style="border: none; box-shadow: none"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить запись?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="btnDeleteRow" type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="confirmModalLabel2" id="confirmModalDelete2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" style="border: none; box-shadow: none"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить запись?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="confirmModalLabel3" id="confirmModalCopy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение копирования</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите скопировать текущую деталь с операциями?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-success" id="copyBtn"><i class="bi bi-copy"></i> Скопировать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="insertRowsTable" id="insertRowsTable">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вставить новую запись в таблицу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Выберите для какой таблицы вставить новую запись:
                <p></p>
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-danger btn-kod" id="insertKodDetal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
                                </svg> Код детали</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-danger btn-kod" id="insertKodOperation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2m2 7h-4v2h4zm0 3h-4v2h4zm0 3h-4v3h2a2 2 0 0 0 2-2zm-5 3v-3H6v3zm-4 0v-3H2v1a2 2 0 0 0 2 2zm-3-4h3v-2H2zm0-3h3V7H2zm4 0V7h3v2zm0 1h3v2H6z" />
                                </svg> Код операции
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="SaveNewRowLabel" id="saveNewRowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Добавление новой записи в <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
                        <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4z" />
                        <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.5 6.5 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8s-3.809-.317-5.208-.876a6.5 6.5 0 0 1-1.458-.79z" />
                        <path d="M14.667 11.668a6.5 6.5 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.5 6.5 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667z" />
                    </svg>
                </h5>
                <button type="button" class="btn-close" id="btn-close-modalNewRow" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>
                    Вы точно хотите добавить новую запись в базу данных?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-danger btn-save" id="btnSave">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" id="circle-plus" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                    </svg>
                    Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="showCompareTable" id="modalCompareTable">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сравнительный анализ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Выбор</th>
                                <th>Код детали</th>
                                <th>Наименование</th>
                                <th>Шифр</th>
                                <th>Общее время</th>
                                <th>Расценка</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0" style="z-index: 5; width: 600px; margin-bottom: 10px !important">
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="alertkeyupF8">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
            </svg> <span>Для копирования записи из первой таблицы, отметьте строку в столбце <strong>Выбор</strong> и нажмите на клавишу <strong>F8</strong></span>
        </div>
        <button type="button" class="btn-close" id="btn-close-alert1" data-bs-dismiss="alert" aria-label="Close"></button>
        <hr />
        <p class="mb-0">После нажатия на <i class="bi bi-x-lg"></i> уведомление больше не появится при последующих визитах или перезагрузках сайта</p>
    </div>

    <div class="alert alert-info alert-dismissible fade show" role="alert" id="alertkeyupINSERT">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
            </svg> <span>Для добавления записи в таблицу нажмите клавишу <strong>INSERT</strong></span>
        </div>
        <button type="button" class="btn-close" id="btn-close-alert2" data-bs-dismiss="alert" aria-label="Close"></button>
        <hr />
        <p class="mb-0">После нажатия на <i class="bi bi-x-lg"></i> уведомление больше не появится при последующих визитах или перезагрузках сайта</p>
    </div>
</div>

<div id="alertContainer" class="position-fixed top-0 start-50 translate-middle-x mt-2" style="z-index: 5; width: 600px">
    <div id="alertCopy" class="alert alert-warning fade show" role="alert" style="display: none">
        <i class="bi bi-exclamation-triangle-fill"></i> <span>Пожалуйста, выберите строку для копирования</span>
    </div>

    <div id="alertSuccessCopy" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successCopy"></span>
    </div>

    <div id="errorAlertCopy" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorCopy"></span>
    </div>

    <div id="warningAlertDelete" class="alert alert-warning fade show" role="alert" style="display: none">
        <i class="bi bi-exclamation-triangle-fill"></i> <span>Пожалуйста, введите код детали для удаления</span>
    </div>

    <div id="alertSuccessDelete" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successDeleteRow"></span>
    </div>

    <div id="alertErrorDelete" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorDeleteRow"></span>
    </div>

    <div id="alertSuccessAdd" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successAddRow"></span>
    </div>

    <div id="alertWarningInfoAdd" class="alert alert-warning fade show" role="role" style="display: none">
        <i class="bi bi-exclamation-triangle-fill"></i> <span class="text-warningInfoAdd"></span>
    </div>

    <div id="alertErrorInsertNewRow" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorInsertNewRow"></span>
    </div>

    <div id="alertSuccessInsertNewrow" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successInsertNewRow"></span>
    </div>

    <div id="alertSuccessCompare" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successCompare"></span>
    </div>

    <div id="alertErrorCompare" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorCompare"></span>
    </div>

    <div id="alertSuccessRash" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successRash"></span>
    </div>

    <div id="alertErrorRash" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorRash"></span>
    </div>

    <div id="alertSuccessUpdateTable" class="alert alert-success fade show" role="alert" style="display: none">
        <i class="bi bi-check-circle-fill"></i> <span class="text-successUpdateTable"></span>
    </div>

    <div id="alertErrorUpdateTable" class="alert alert-danger fade show" role="alert" style="display: none">
        <i class="bi bi-x-circle-fill"></i> <span class="text-errorUpdateTable"></span>
    </div>
</div>


<script src="~/js/SprOperation/SprOperationHandler.js"></script>
<script src="~/js/SprOperation/SprOperationRequests.js"></script>