@{
	ViewData["Title"] = "Справочник по работающим";
}
@model NardSmena.Models.CombinedViewModelSprRab

<div class="container-fluid" style="margin-top: 3rem">
    <div class="row">
        <div class="col-6" style="height: 700px; overflow-y: auto">
            <div class="table-responsive">
                <table class="table" id="sprRab">
                    <thead class="text-center">
                        <tr>
                            <th>Табельный</th>
                            <th>Цех</th>
                            <th>Участок</th>
                            <th>ФИО</th>
                            <th>Профессия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sprRab in Model.SprRabList)
                        {
                            <tr>
                                <td class="text-center">@sprRab.TabNomer</td>
                                <td class="text-center">@sprRab.Ceh</td>
                                <td class="text-center">@sprRab.Uch</td>
                                <td class="text-break">@sprRab.FIO</td>
                                <td class="text-center">@sprRab.PROFF.KodProf</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6" style="height: 700px; overflow-y: auto">
            <div class="table-responsive">
                <table class="table" id="proff">
                    <thead>
                        <tr>
                            <th>Код</th>
                            <th>Профессия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var proff in Model.ProffList)
                        {
                            <tr>
                                <td>@proff.KodProf</td>
                                <td>@proff.NameProf</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-6">
            <div class="form-floating mb-2">
                <input type="text" class="form-control focus-ring" id="search-id" placeholder="Введите табельный №">
                <label for="search-id">Поиск по табельному №</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-2">
                <input type="text" class="form-control focus-ring" id="search-proffessia" placeholder="Введите название профессии">
                <label for="search-proffessia">Поиск по профессии</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-5">
                <input type="text" class="form-control focus-ring" id="search-surname" placeholder="Введите ФИО" />
                <label for="search-surname">Поиск по ФИО</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-5">
                <input type="text" class="form-control focus-ring" id="search-kod" placeholder="Введите код" />
                <label for="search-kod">Поиск по коду</label>
            </div>
        </div>
    </div>
</div>

<script src="~/js/SprRab/SprRabHandler.js"></script>